<p id="notice"><%= notice %></p>
<h1>Listing Products</h1>
<table>
  <thead>
      <th>Name</th>
      <th>Price</th>
      <th>Dis</th>
      <th colspan="2"></th>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.price %></td>
        <td><%= product.dis %></td>
      <td><% product.photos.each do |photo| %>
<td><%= image_tag photo.photo %></td>
<% end %>
</td>
<td>
<p id="pdf_link"><%= link_to "Download Products (PDF)", download_product_path(product, :format => :pdf) %></p>
</td>
        <td><%= link_to 'Show', product %></td>
        <td><%= link_to 'Edit', edit_product_path(product) %></td>
        <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>


<%= link_to 'New Product', new_product_path %>

